appdirs==1.4.3
asgiref==3.2.7
beautifulsoup4==4.8.0
certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
distlib==0.3.0
Django==2.2.4
django-ajax-tables==1.0.0
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap4==1.0.1
django-crispy-forms==1.7.2
django-datatables-view==1.19.0
django-extensions==2.2.6
django-tables2==2.1.1
django-tables2-bootstrap4==2.0.0b5
django-treebeard==4.3
djangorestframework==3.10.3
ezdxf==0.12.3
filelock==3.0.12
geographiclib==1.50
geopy==1.20.0
html5lib==1.0.1
icalendar==4.0.4
idna==2.8
kiwisolver==1.2.0
matplotlib==3.2.1
mpmath==1.1.0
networkx==2.4
numpy==1.18.4
Pillow==7.0.0
pygeocoder==1.2.5
pyparsing==2.4.7
PyPDF2==1.26.0
python-dateutil==2.8.1
python-http-client==3.2.7
pytz==2019.2
reportlab==3.5.34
requests==2.22.0
sendgrid==6.2.1
six==1.13.0
soupsieve==1.9.3
sqlparse==0.3.0
sympy==1.5.1
urllib3==1.25.8
virtualenv==20.0.20
webencodings==0.5.1
whitenoise==5.1.0
xhtml2pdf==0.2.4
XlsxWriter==1.2.7
