{% extends "blog/base.html" %}
{% block content %}
<h1 class="mb-3">Teams Members {{ self.kwargs.name }} </h1>
{% for post in team %}
<div class="container" >
<div class="row">
<div class="card" style="width: 50rem;">
<div class="card-body">
<h5 class="card-title">
<div class="row">
<div class="col-sm-2 col-md-2">
<img src="{{ post.user.profile.image.url }}" alt="" class="rounded-circle article-img"/>
</div>
<div class="col-sm-6 col-md-6" style="">
<h4>
<b> <a  href="{% url 'user-posts' post.user %}">{{ post.user.get_full_name }}</a></b><p style="float:right;"> {{ post.user.profile.role|safe }}
</p></h4>                            
<p>
{{ post.user.email }}</p>
</div>
</div>
</div>
</div>
<br>

<br>
</article>
{% endfor %}
{% endblock content %}