{% extends "blog/base.html" %}

{% block content %}
    
                
 <img class="rounded-circle article-img" src="{{ posts.first.assigned_employee.profile.image.url }}">
            <label for="formGroupExampleInput2"><u>Employee</u></label>
              <a class="mr-2" href="{% url 'user-posts' posts.first.assigned_employee.username %}">{{ posts.first.assigned_employee.get_full_name }}</a>
                            <p> <label for="formGroupExampleInput2"><u><b>User Goal :</b></u>{{ posts.first.assigned_employee.profile.goal }}</label>
</p>
      
    {% for post in posts %}

                <article class="media content-section">
                 <br>
                 <br>
                 <br>
                    <div class="media-body">
            <div class="article-metadata">
          <label for="formGroupExampleInput2"><u>Date Given :</u></label>

              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <label for="formGroupExampleInput2"><u><b>Work To be done </u></b></label><br>
            <a class="article-content" href="{% url 'post-detail' post.id %}">{{ post.work_today }}</a><br>
                           <label for="formGroupExampleInput2"><u><b>Work Done</u></b></label><br>

            <p class="article-content"><a class="article-content" href="{% url 'post-detail' post.id %}">{{ post.work_done }} </a></p>

            <!--label for="formGroupExampleInput2"><u><b>Work Deadline</u></b></label>
                        <p class="article-content">{{ post.deadline }}</p>
                        <label for="formGroupExampleInput2"><u><b>Work Status</u></b></label>
            <p class="article-content">{{ post.status }}</p-->

          </div>
        </article>
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}
