{% extends "blog/base.html" %}
{% block content %}
{% load get_user %}

                     {% if user.is_superuser %}

        <button type='button' style="float:right"><a class="mr-2" href="{% url 'profileupdate' view.kwargs.username %}">Update {{view.kwargs.username}} Profile</a></button>
                <button type='button' style="float:right"><a class="mr-2" href="{% url 'password' view.kwargs.username %}">Update Password</a></button>
              
                      

                      {% endif %}
 <br>
 <br>
 {% with view.kwargs.username|get_user as username %}

     
<!------ Include the above in your HEAD tag ---------->

<div class="container" style="margin:auto;">
    <div class="row">
        <div class="col-xs-120 col-sm-100 col-md-180">
        <div class="card" style="width: 70rem;">
      <div class="card-body">
        <h5 class="card-title">

                <div class="row">
                    <div class="col-sm-3 col-md-3">
                        <img src="{{ username.profile.image.url }}" alt="" class="img-rounded" height="250" width="250"/>
                    </div>
                    <div class="col-sm-6 col-md-6" style="">
                        <h4>
                           <b> {{ username.get_full_name }}</b><p style="float:right;"> {{ username.profile.role|safe }}
</p></h4>                            
                           
                        
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>{{ username.email }}
                            <br />
                            <i class="glyphicon glyphicon-gift"></i><div class="card" style="width: 50rem;">
  <div class="card-body">
<p class="article-content"><b>User Goal</b><br>{{ username.profile.goal|safe }}</p></p>  
  </div>
</div>
  </div>
</div>  </div>
 {% endwith %}


                        <!-- Split button -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  <br>
    <br>
    <br>
    <br>
    {% for post in posts %}

                              <article class="media content-section" style="text-align: center;">
                 <br>
                 <br>
                 <br>
                    <div class="media-body">
            <div class="article-metadata">
          <label for="formGroupExampleInput2"><u>Date :</u></label>

              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <label for="formGroupExampleInput2"><u><b>Work That you will do today ? </u></b></label><br>
            <p class="article-content">{{ post.work_today }}</a><br><br></p>
                           <label for="formGroupExampleInput2"><u><b>Work that was done today ? Challenges Faced?</u></b></label><br>

            <p class="article-content">{{ post.work_done }} </a></p>

            <!--label for="formGroupExampleInput2"><u><b>Work Deadline</u></b></label>
                        <p class="article-content">{{ post.deadline }}</p>
                        <label for="formGroupExampleInput2"><u><b>Work Status</u></b></label>
            <p class="article-content">{{ post.status }}</p-->

          </div>
        </article>
    {% endfor %}
{% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}


{% endblock content %}
