{% extends "blog/base.html" %}

{% block content %}
    

                      
                      

 <br>
 <br>

    
     
<!------ Include the above in your HEAD tag ---------->

<div class="container" style="margin:auto;">
    <div class="row">
        <div class="col-xs-120 col-sm-100 col-md-180">
        <div class="card" style="width: 70rem;">
      <div class="card-body">
        <h5 class="card-title">

                <div class="row">
                    <div class="col-sm-3 col-md-3">
                        <img src="{{ posts.first.assigned_employee.profile.image.url }}" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-6" style="">
                        <h4>
                           <b> {{ posts.first.assigned_employee.get_full_name }}</b><p style="float:right;"> {{ posts.first.assigned_employee.profile.role|safe }}
</p></h4>                            
                           
                        
                        <p>
<i class="glyphicon glyphicon-envelope"></i>{{ posts.first.assigned_employee.email }}
<br />
<i class="glyphicon glyphicon-gift"></i><div class="card" style="width: 50rem;">
  <div class="card-body">
<p class="article-content"><b>User Goal</b><br>{{ posts.first.assigned_employee.profile.goal|safe }}</p></p>  
  </div>
</div>
  </div>
</div>  </div>

                        <!-- Split button -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  <br>
    <br>
        <div class="content-section" style="margin:auto;">
        <form method="POST">
 {% csrf_token %}
<legend class="border-bottom mb-4">Work :</legend>                        
  <div class="form-group">
    <label for="formGroupExampleInput"> Employee :</label>
  {{ user.username }}
  </div>
  <div class="form-group">
  {% if posts.first.time <= '6' %}
    <label for="formGroupExampleInput">What Work will you do today::</label>
    <input type="text"  class="form-control" placeholder="" value="" name="today" />
{% elif posts.first.time >= 18 and  posts.first.time <= 24 %}
<label for="formGroupExampleInput">Work that was done today ? Challenges Faced?</label>
    <input type="text"  class="form-control" placeholder="" value="" name="today" />
{% elif  posts.first.time >= 0 and  posts.first.time <= 3%}
<label for="formGroupExampleInput">Work that was done today ? Challenges Faced?</label>
    <input type="text"  class="form-control" placeholder="" value="" name="today" />



{% endif %}
  </div>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <br>
    <br>

    {% for post in posts %}

                <article class="media content-section" style="text-align: center;">
                 <br>
                 <br>
                 <br>
                    <div class="media-body">
            <div class="article-metadata">
          <label for="formGroupExampleInput2"><u>Date Given :</u></label>

              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <label for="formGroupExampleInput2"><u><b>Work That you will do today ? </u></b></label><br>
            <p class="article-content">{{ post.work_today }}</a><br><br></p>
                           <label for="formGroupExampleInput2"><u><b>Work that was done today ? Challenges Faced?</u></b></label><br>

            <p class="article-content">{{ post.work_done }} </a></p>

            <!--label for="formGroupExampleInput2"><u><b>Work Deadline</u></b></label>
                        <p class="article-content">{{ post.deadline }}</p>
                        <label for="formGroupExampleInput2"><u><b>Work Status</u></b></label>
            <p class="article-content">{{ post.status }}</p-->

          </div>
        </article>
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}
